*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}






/* Header */



.box-header-sup{
    min-height: 70px;
}


.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
}


.flex-container img {
    height: 20px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.flex-container a{
    margin-right: 10px;
    text-decoration: none;
    color: grey;
}


.flex-container button{
    height: 25px;
    width: 45px;
    background-color: #0061ff;
    color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}


.box-header-inf{
    max-height: 425px;
    background-color: #b4d0e7;
}

.flex-container-2{
    max-width: 800px;
    min-height: 160px;
    margin: auto;
    padding-top: 30px;
    font-size: 25px;
    
}


.flex-container-3{
    display: flex;
    min-height: 315px;
    justify-content: center;
   
}




.box-1{
    width: 300px;
    
    padding-top: 38px;
}

.box-2{
    width: 500px;
    
}


.flex-container-3 button{
    height: 25px;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:#0061ff;
    color: white;
    border: none;
    cursor: pointer;
}


.box-2 img{
    height: 275px;
    margin-top: 38px;
}



/* Fine Header */






/* Main */




.box-main{
    max-width: 700px;
    min-height: 1000px;
    margin: auto;
    margin-top: 70px;

   
}



form{
    padding-top: 50px;
}

.boxed-1{
    width: 215px;
    height: 30px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxed-1-inf{
    width: 215px;
    height: 750px;
    border: 1px solid grey;
    border-top: none;
    padding-left: 20px;
    padding-top: 25px;

}



.colonna1{
    width: 215px;
    padding-top: 30px;
    
    
}



.flex-container-4{
    display: flex;
    justify-content: space-between;
}


.sizefont{
    font-size: 11px;
}

.testo-a-capo{
    padding-left: 20px;
}


.boxed-1-inf button{
    width: 140px;
    height: 30px;
    color: white;
    border: none;
    background-color: #0061ff;
    cursor: pointer;

}


.boxed-1-inf hr{
    width: 30px;
}



.flex-container-5{
    display: flex;
}



.rectangle{
    width: 700px;
    height: 220px;
    margin-top: 50px;
}


.rectangle-sup{
    width: 700px;
    min-height: 40px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rectangle-inf{
    width: 700px;
    min-height: 180px;
    border: 1px solid grey;
    border-top: none;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


.flex-container-5 button{
    width: 185px;
    height: 35px;
    border: none;
    background-color: #0061ff;
    color: white;
    width: 185px;
    cursor: pointer;
}


.padding-font{
    padding-right: 5px;

}


.color-check{
    color: #0061ff;

}




.flex-container-6{
    display: flex;
}


.box-left{
    width: 400px;
    height: 400px;
    margin-top: 50px;
}



.box-right{
    width: 300px;
    height: 400px;
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 20px;
}



.box-left img{
    height: 340px;
}


.box-right button{
    width: 130px;
    height: 30px;
    border: 1px solid;
    background-color: white;
    cursor: pointer;
}



.flex-container-7{
    display: flex;
    flex-wrap: wrap;
    
}


.box{
    width: calc(700px/3);
    min-height: 200px;
    margin-top: 30px;
}


.flex-container-7 img{
    height: 130px;
}